:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  display: flex;
  justify-content: center;
  margin: 0; 
}
h1 {
  font-size: 1.5em;
  line-height: 1.1;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #7479e2;
}
.search-input {
  height: 30px;
  width: 300px;
  margin-bottom: 60px;
  margin-left: 150px;
  border-radius: 10px;
  border-style: none;
}
.title {
  height: 30px;
  width: 600px;
  display: block;
  margin-bottom: 20px;

}
textarea {
  display: block;
  margin-bottom: 20px;
  height: 100px;
  width: 600px;
}
.Add {
  display: flex;
  margin: auto ;  
  color: white;
  padding: 12px;
  cursor: pointer;
  background-color:  #8bc34a;
  border-style: none;
  border-radius: 4px;
}
.Add:hover {
  background-color:  #6bc800;
}
.Del {
  display: flex;
  margin: auto ;
  color: white;
  padding: 12px;
  cursor: pointer;
  background-color:  #ff0000;
  border-style: none;
  border-radius: 4px;
}
.Del:hover {
  background-color:  #803c3c;

}
.Edit {
  display: flex;
  margin: auto ;
  color: white;
  padding: 12px;
  cursor: pointer;
  background-color:  lightblue;
  border-style: none;
  border-radius: 4px;
  margin-bottom: 10px;
}
.Edit:hover {
  background-color:  rgb(90, 182, 213);
}

/* @media (min-width: 768px) {
  body {
    flex-direction: row; 
    padding: 50px;
  }
  .search-input, .title, textarea {
    max-width: 500px;
  }
} */

@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;
  }
  .search-input, .title, textarea {
    width: 55%;
  }
  input.search-input {
        margin-left: 150px;
    }
    .Add, .Del, .Edit {
      max-width: 250px; /* Limit button width on smaller screens */
    }
    input {
      margin: auto; 
  }
    textarea{
      margin: auto;  
      margin-bottom: 30px; 

  }
  .list {
    width: 100%;
    padding-left: 20px;

  }
  .search-input {
    margin-left: 120px;

  }
  .img {
    margin-left: 170px;
  }
  div.display {
    margin-left: 150px;
    
  }

  .fav {
    padding-left: 160px;
  }
  .rec {
    padding-left: 160px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
